Материалы Юстины Ивановой: https://github.com/yustinaivanova/netology_statistics_february_20

# Домашняя работа №7.

* Написать модель Random Forest на датасет больных сердечными болезнями (можно почистить от выбросов).

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import researchpy as rp

In [96]:
arr = np.arange(12).reshape((3,4))
# df = pd.DataFrame(arr, columns=['A', 'B', 'C'])
# print(df.describe())
# sns.lineplot(df.set_index('A'))
# sns.histplot(df, x='A')
# plt.xlabel('x')
# plt.ylabel('y')

array([0, 1, 2, 3])

In [8]:
!git remote add origin git@github.com:bestorlov1992/Data_science.git

In [13]:
! git add *

In [9]:
! git commit -m 'case study'

error: pathspec 'study'' did not match any file(s) known to git

In [97]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
url = "http://yustiks.ru/dataset/cardio_train.csv"
data = pd.read_csv(url,sep=";")
data.tail()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [98]:
df = data

In [ ]:
sns.histplot(df.iloc[:1000], x='ap_hi', hue='cardio')

In [ ]:
sns.barplot(df, x='cardio', y='active', estimator='size')

In [ ]:
df.groupby('active').cardio.head()

In [160]:
pd.crosstab(df.active, df.cardio)

cardio      0      1
active
0        6378   7361
1       28643  27618

In [ ]:
t_a = df.groupby('active').get_group(1).cardio
t_na = df.groupby('active').get_group(0).cardio
rp.ttest(t_a, t_na)

Данный датасет разобран в начале лекции 5.

Модель Random Forest при обучении дает такой метод как feature importance, используя его, можно оценить, какой параметр **максимально** влияет на болезнь.

* Сделать вывод о том, какой атрибут оказывает значительное влияение на наличие или отсутствие болезни.

Основная задача: определить, что влияет на сердечную болезнь больше всего. Например, выдвигая гипотезу о том, что тот кто курит, болеет чаще, мы сравниваем курящих пациентов с некурящими, и определяя насколько статистически значимы выборки, делаем вывод, что одна выборка статистически отличима от другой (или неотличима).
    Выдвигаем гипотезу на самый важный атрибут, полученный из feature_importance (Random_Forest). И оцениваем гипотезу. И делаем вывод.