In [ ]:
import pandas as pd
%matplotlib inline
import os
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (7.0, 7.0)
os.environ["NLS_LANG"] = "American_America.AL32UTF8"

import numpy as np
import seaborn as sns

## Данные - датасет и загрузка

В современной финтех индустрии одной из ключевых сфер для применения data science является процесс кредитного скоринга.
Скоринговые модели помогают датасаентистам определить, какие клиенты с наибольшей вероятностью вернут выданный кредит, что помогает банку сформировать прибыльный продуктовый портфель и управлять рисками.

В этом кейсе вам предстоит исследовать данные о заявках клиентов на кредитную карту и кредитной истории.
- Для задания понадобятся данные из https://www.kaggle.com/rikdifos/credit-card-approval-prediction (также Вы можете найти данные [в данной папке](https://drive.google.com/drive/folders/1v5RTvwpLfYVO86KfXyfMsT3DEXb7hnCG?usp=sharing))
- Описание данных находится на страничке датасета.

In [ ]:
# Загрузим файлы датасета.
app = pd.read_csv("application_record.csv", sep=",")
app.columns = map(str.lower, app.columns)

credit = pd.read_csv("credit_record.csv", sep=",")
credit.columns = map(str.lower, credit.columns)

In [ ]:
app.head(3)

,id,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,name_income_type,name_education_type,name_family_status,name_housing_type,days_birth,days_employed,flag_mobil,flag_work_phone,flag_phone,flag_email,occupation_type,cnt_fam_members
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0

In [ ]:
credit.head(3)

        id  months_balance status
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0

### Задание 1 - проверка качества данных
Перечислите названия колонок датасета app, в котором есть незаполненные (Null) значения.

In [ ]:
### YOUR CODE HERE ###

### Задание 2 - проверка качества данных
Рассчитайте долю незаполненных значений в колонке с их максимальным количеством.
Результат округлите до двух знаков после запятой (округление в большую сторону).

In [ ]:
### YOUR CODE HERE ###

### Задание 3
Определите число дубликатов в столбце с айди клиента (id)

In [ ]:
### YOUR CODE HERE ###

### Задание 4
Определите самые популярные профессии клиентов (occupation_type), исключая Null значения, отсортировав их по числу id.

Результат представьте в виде dict вида {профессия:число клиентов}.

In [ ]:
### YOUR CODE HERE ###

### Задание 5
Клиенты с каким уровнем образования (name_education_type) имеют наибольший средний доход? Помимо уровня образования укажите и средний доход для него, округленный до двух знаков после запятой.

In [ ]:
### YOUR CODE HERE ###

### Задание 6
Для клиентов с уровнем образования из задания 5 и семейным положением (name_family_status) Married, выясните, у кого в среднем больше доход (amt_income_total) - у клиентов с машиной или без?

In [ ]:
### YOUR CODE HERE ###

### Задание 7
Рассчитайте разнциу между медианным стажем (days_employed) мужчин и женщин в месяцах. В ответе приведите модуль от это числа, округленный до двух знаков после запятой.

In [ ]:
### YOUR CODE HERE ###

### Задание 8
Для женщин, чей доход или стаж строго выше 75 перцентиля аналогичных показателей для мужчин, определите наиболее популярную профессию (occupation_type). Null значения в occupation_type не учитывать, как и в пункте 4.

В качесте ответа приведите название этой профессии.

In [ ]:
### YOUR CODE HERE ###

### Задание 9
Оцените наличие связи между размером дохода и модулем возраста при помощи коэфициента корреляции.
В качестве ответа приведите значение в процентах, округленное до 5 знаков после запятой.

In [ ]:
### YOUR CODE HERE ###

### Задание 10
По результатам задания 9 при помощи коээфициента корреляции оцените силу связи между доходом и модулем возраста:

    1) сильная положительная связь
    2) слабая положительная связь
    3) нелинейная связь
    4) умеренная отрицательная связь
    5) все ответы неверны

In [ ]:
# Выберите верный ответ:

### Задание 11
Какие типы занятости (name_income_type) встречаются среди клиентов с просрочкой от 30-59 дней? Ответ приведите в виде словаря с сортировкой по числу id:
{name_income_type:число id}

In [ ]:
### YOUR CODE HERE ###

### Задание 12
Выберите верные утверждения для клиентов с просрочкой более 150 дней:

    1) среди этих клиентов больше всего людей имеет образование уровня Lower secondary
    2) среди этих клиентов 61% - мужчины
    3) не все такие клиенты присутствуют в датасете с заявками
    4) все три утверждения выше неверны

In [ ]:
### YOUR CODE HERE ###

In [ ]:
# Выберите верный ответ на основании расчетов выше: